.mainBox {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.loading {
  margin: auto;
}
.error {
  margin: auto;
  color: #f44336;
}

.title {
  margin-bottom: 0.5rem;
  line-height: 1.15;
  font-size: 0.65rem;
  font-weight: 400;
}
