.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
.title {
  font-weight: 500;
  font-size: 1.07rem;
}
